<p>
  Super Rentals Representatives would love to hear from you.
</p>

<p>
  Contact us today:
</p>

<p>
  Super Rentals HQ
  1234 Main St.
  Santa Monica, CA 90405
</p>

<p>
  (310) 555-1212
</p>

<p>
  info@superrentals.com
</p>
